# Frontend
node_modules/
build/
dist/
.env*
@/

# Backend
__pycache__/
.pytest_cache
*.py[cod]
.venv/bin
.venv/lib
.venv/include
*.db
*.sqlite3
*.log
backend/app/tests/resources/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
